<div *ngIf="show">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div  class="modal" style="display:block; background-color: rgba(0,0,0,0.5);">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" [innerHTML]="title"></h5>                 
                  <button (click) = "closeModal()" type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-12">
                        <span [innerHTML]="message"></span>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button (click) = "yesSelected()" type="button" class="btn btn-primary">Yes</button> 
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button (click) = "noSelected()" type="button" class="btn btn-primary">No</button> 
                            <button (click) = closeModal() type="button" class="btn btn-primary">Cancel</button> 
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>                
        </div>
        <div class="col-4"></div>
    </div>
    
</div>