<div class="container">
    <div class="row">
        <div class="col-3 display-6  mt-3">
            My Profile
        </div>
        <div class="col-9 mt-3 justify-start">
            <app-csasync [async] ="async" ></app-csasync>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 border border-1 rounded-3 p-3">
            <div class="row">
                <div class="col-3">
                    <span class="form-control-plaintext">User Id</span>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control"  [(ngModel)] = "userId"  />
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="form-control-plaintext" (click)="togglePasswordView()">Password
                        <i class="fa fa-eye"></i>
                    </span>
                    
                </div>
                <div class="col-9">
                    <input type="text" [type] = "getPasswordType()" class="form-control"  [(ngModel)] = "password"  />
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="form-control-plaintext">Name</span>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control"  [(ngModel)] = "name"  />
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="form-control-plaintext">Phone/Extension</span>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control"  [(ngModel)] = "phone"  />                    
                </div>
                <div class="col-3">
                    <input type="text" class="form-control"  [(ngModel)] = "phoneExtension"  />
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="form-control-plaintext">Fax</span>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control"  [(ngModel)] = "fax"  />
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <span class="form-control-plaintext">Email</span>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control"  [(ngModel)] = "email"  />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-9"></div>
                <div class="col-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary form-control" 
                    (keypress)  = "applyValues()"  
                    (click)     = "applyValues()"
                    >
                    Apply
                    </button>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>    
</div>