<div class="card">
    <div class="card-header cs-pull-center" style="font-size:40px;">  
        About <span class="creditSharpLogo"></span>
    </div>
    <div class="row" style="padding:10px;"> 
        <div class="col-12" > 
            <span class="regularText">
                Building on the success of the Credit++ Toolkit&reg;, Luxor Technologies, Inc. has created <span class="creditSharpLogo"></span>&reg;.<br/>
                <span class="creditSharpLogo"></span> is a managed code based suite of components bringing the best in credit reporting technology to any Microsoft-based system; or
                any non-Microsoft system through the free WebAPI Credit REST Service.  <br/>

                <ul style="font-family: Roboto; font-size: 18px; color: black;">
                    <li>Thread Safe</li>
                    <li>Dot.Net 4.0 and above</li>
                    <li>Dot.Net Core</li>
                    <li>COM Enabled for Legacy System Support</li>
                    <li>Supports Equifax, Experian and TransUnion</li>
                    <li>Supports Equifax Canada and TransUnion Canada</li>
                    <li>Provides Merged and Un-Merged Data Sets</li>
                    <li>Generates easy-to-read reports and XML, JSON data feeds</li>
                    <li>Over 1,800 Attributes from any bureau or combination of bureaus</li>
                    <li>Create your own custom attributes</li>
                    <li>Enables customized business decisions</li>
                    <li>Includes a Microsoft WebAPI Credit REST Service</li>
                </ul>
            </span>
        </div> 
    </div>
</div>



<div class="card">
    <div class="card-header cs-pull-center" style="font-size:40px;">  
        <span class="creditSharpLogo"></span>&nbsp;Features
    </div>

     
    <div class="row" style="padding:10px;"> 
    <div class="col-12">
        <!--FULL SCREEN-->
        <div fxHide.lt-md="true" fxShow.gt-sm="true">  
            <div class="row">
                <div class="col-6" style="text-align: center;">
                    <fieldset class="fsInfo fsSmall">
                        <h4 class="Info">Connect</h4>
                        Connect to Equifax, Experian and TransUnion's web services. Now including Equifax and TransUnion Canada.
                        Provide simple, name and address and bureau subscriber settings and receive the bureau response data from the Connect's <span class="code">RequestProduct</span> method.
                    </fieldset>
                </div>
                <div class="col-6" style="text-align: center;">
                    <fieldset class="fsInfo fsSmall">
                        <h4 class="Info">Datamart</h4>
                        Parse bureau data into usable datasets. Convert bureau data into Luxor's common data format using the Datamart's <span class="code">Parse</span> method.
                        Merge and dedup data using the Datamart's <span class="code">MergeData</span> method.
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-6" style="text-align: center;">
                    <fieldset class="fsInfo fsSmall">
                        <h4 class="Info">Format</h4>
                        Create easy-to-read credit reports with a wide array of options and XML or JSON data feeds using the Report class's <span class="code">FormatReport</span> method.
                        Reports are suitable for all types of lending and collections applications.
                    </fieldset>
                </div>
                <div class="col-6" style="text-align: center;">
                    <fieldset class="fsInfo fsSmall">
                        <h4 class="Info">Analyze</h4>
                        Utilize thousands of business data attributes from merged or un-merged data using the <span class="code">AnalyzeData</span> class.
                        Data attributes are suitable for making a wide variety of decisions and custom scores.
                        Inject the <span class="code">AnalyzeData</span> class into the <span class="code">Report</span> object to add customized business summarizations
                        to the completed report.
                    </fieldset>
                </div>
            </div>
        </div>
        <!-- SMALL SCREEN-->
        <div fxHide.lt-md="false" fxShow.gt-sm="false">  
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <fieldset class="fsInfo fsSmall">
                        <h4 class="Info">Connect</h4>
                        Connect to Equifax, Experian and TransUnion's web services. Now including Equifax and TransUnion Canada.
                        Provide simple, name and address and bureau subscriber settings and receive the bureau response data from the Connect's <span class="code">RequestProduct</span> method.
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-122" style="text-align: center;">
                    <fieldset class="fsInfo fsSmall">
                        <h4 class="Info">Datamart</h4>
                        Parse bureau data into usable datasets. Convert bureau data into Luxor's common data format using the Datamart's <span class="code">Parse</span> method.
                        Merge and dedup data using the Datamart's <span class="code">MergeData</span> method.
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <fieldset class="fsInfo fsSmall">
                        <h4 class="Info">Format</h4>
                        Create easy-to-read credit reports with a wide array of options and XML or JSON data feeds using the Report class's <span class="code">FormatReport</span> method.
                        Reports are suitable for all types of lending and collections applications.
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <fieldset class="fsInfo fsSmall">
                        <h4 class="Info">Analyze</h4>
                        Utilize thousands of business data attributes from merged or un-merged data using the <span class="code">AnalyzeData</span> class.
                        Data attributes are suitable for making a wide variety of decisions and custom scores.
                        Inject the <span class="code">AnalyzeData</span> class into the <span class="code">Report</span> object to add customized business summarizations
                        to the completed report.
                    </fieldset>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12" style="text-align: center;">
                <fieldset class="fsInfo fsSmall">
                    <h4 class="Info"><span class="creditSharpLogo"></span> WebAPI REST Service</h4>
                    Expose all the feature of <span class="creditSharpLogo"></span> to ANY system with the free, WebAPI Credit REST Service.
                    <ul>
                        <li>Request multiple bureaus, reports, attributes, raw data and normalized data through a single REST JSON request</li>
                        <li>Runs as a local Microsoft IIS Web Site on your internal network</li>
                        <li>Requires only a network connection and the <span class="creditSharpLogo"></span> Framework Dll</li>
                    </ul>
                </fieldset>
            </div>
        </div>

        <div class="row" id="extensions">
            <div class="col-12" style="text-align: center;">
                <fieldset class="fsInfo fsSmall">
                    <h4 class="Info"><span class="creditSharpLogo"></span> CreditSharp Extensions</h4>
                    Expands the features of <span class="creditSharpLogo"></span> providing a host of impressive business functions and shortcuts greatly simplifying more complex operations.<br /><br />
                    <h5 class="Info"> Features</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row"><div class="col-3">Comparative Analysis</div><div class="col-9">Compare the content of two credit bureau pulls to determine how a consumer's overall credit picture has changed.</div></div>
                        </li>
                        <li class="list-group-item">
                            <div class="row"><div class="col-3">Portfolio Analysis</div><div class="col-9">Accumulate aggregate credit information on an entire group of consumers for measuring overall portfolio quality.</div></div>
                        </li>
                    </ul>
                    <h5 class="Info"> Shortcuts</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row"><div class="col-3">Attribute Generation</div><div class="col-9">Quickly implement code for retrieving credit data attributes on a report by report basis, using either custom definitions or one (or more) predefined CreditSharp variables.</div></div>
                        </li>
                        <li class="list-group-item">
                            <div class="row"><div class="col-3">Report Creation</div><div class="col-9">Quickly implement code for generating one of the various output report formats available from the core CreditSharp framework.</div></div>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="text-align: center;">
                <h4>Contact Us</h4>
                <div>Luxor Technologies, Inc.</div>
                <div>6965 El Camino Real, Suite 105-549</div>
                <div>Carlsbad, CA 92009</div>
                <div>760.431.4300</div>
                <div>sales@creditsharp.com</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center; font-size: 20px; color: black; padding: 10px;">
                <span class="creditSharpLogo"></span>&reg; - Bolt it On!&reg;
            </div>
        </div>
    </div> 
</div>