<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">Name</div></div><div class="col-8"><input class="form-control" (ngModelChange)="customerNameChanged($event)"    type="text" [(ngModel)]="currentCustomer.name"></div>
</div>
<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">Address</div></div><div class="col-8"><input class="form-control" type="text" [(ngModel)]="currentCustomer.address"></div>
</div>
<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">City</div></div><div class="col-8"><input class="form-control"     type="text" [(ngModel)]="currentCustomer.city"></div>
</div>
<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">State</div></div><div class="col-8"><input class="form-control"     type="text" [(ngModel)]="currentCustomer.state"></div>
</div>
<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">Zip</div></div><div class="col-8"><input class="form-control"     type="text" [(ngModel)]="currentCustomer.zip"></div>
</div>
<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">Contact</div></div><div class="col-8"><input class="form-control"     type="text" [(ngModel)]="currentCustomer.contactName"></div>
</div>
<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">Email</div></div><div class="col-8"><input class="form-control"     type="text" [(ngModel)]="currentCustomer.contactEmail"></div>
</div>
<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">Phone</div></div><div class="col-8"><input class="form-control"     type="text" [(ngModel)]="currentCustomer.contactPhone"></div>
</div>
<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">Fax</div></div><div class="col-8"><input class="form-control"     type="text" [(ngModel)]="currentCustomer.contactFax"></div>
</div>
<div class="row">
    <div class="col-4"><div class="lead pt-2 inline-block">Notification Email</div></div><div class="col-8"><input class="form-control"     type="text" [(ngModel)]="currentCustomer.updateNotificationEmail"></div>
</div>
