<div class="card" style="padding:15px; background-color:#eeeeee; margin-top:15px; border-radius:10px;">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <H1>New!</H1>
            <img class="csResponsive"  src="/assets/images/theworknumber-web-1.png">
            <p style="font-family: sans-serif; font-size:40px;">Your Partner For Fast, Digital Insights and Verifications</p>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <span class="regularText">
                <span class="creditSharpLogoSimple"></span> CreditSharp version 2022.7 and above now provides support for The Work Number® from Equifax, the industry-leading centralized commercial repository of income and employment information in the U.S. With a hand full of instructions, your system can obtain employer provided payroll information to augment your identity verification, credit application and lead generation systems.
            </span>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="regularText" style="text-align:center;"> 
              <a href="https://go.theworknumber.com/CreditSharp/Contact-us" > 
                Contact Equfax today for more information.               
              </a>  
                
                <br>
                Not a <span class="creditSharpLogoSimple"></span> customer? Download an Evaluation copy of <span class="creditSharpLogoSimple"></span> below!
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8" >
            <div class="well well-lg">
                <img class="csResponsive" alt="sample" style="background-color: transparent;" src="/assets/images/TWNAccess.png" />
            </div>            
        </div> 
        <div class="col-xs-2"></div>
    </div>
</div>

