<!-- <p (click) = "showML = !showML">csfilter works!</p>
<pre *ngIf="showML">{{masterFilterList | json}} </pre> --> 

<!--HORIZONTAL SELECTED FILTERS-->  
<div class="d-inline">
    <div class="d-inline" *ngFor = 'let filter of selectedFilterList'>      
        <div class="d-inline" *ngIf="filter.selected == true">
            <button (click) = "editSelectedFilter(filter)" class="btn btn-light d-inline">
                <!-- NUMBER -->
                <div class="d-inline" *ngIf="filter.type == filterType.number">
                    <span class="d-inline" [innerText] = "filter.title"></span>:
                    <span class="filter-label d-inline" [innerText] = "filter.value1"></span> 
                </div>
                <!-- STRING -->
                <div class="d-inline" *ngIf="filter.type == filterType.string">            
                    <span class="d-inline" [innerText] = "filter.title"></span>:
                    <span class="filter-label d-inline" [innerText] = "filter.value1"></span>           
                </div>
                <!-- DATE -->
                <div *ngIf="filter.type == filterType.date">
                    <span class="d-inline" [innerText] = "filter.title"></span>:
                    <span class="filter-label d-inline" [innerText] = "filter.value1 | date : 'MM/dd/yyyy'"></span>
                </div>
                <!-- DATE RANGE -->
                <div *ngIf="filter.type == filterType.dateRange">
                    
                    <span class="d-inline" [innerText] = "filter.title"></span>:
                    <span class="filter-label d-inline" [innerText] = "filter.value1 | date : 'MM/dd/yyyy'"></span>-
                    <span class="filter-label d-inline" [innerText] = "filter.value2 | date : 'MM/dd/yyyy'"></span>
                </div>
            </button>

            <button (click) = "removeFromSelected(filter)" 
                class="btn btn-light btn-remove btn-filter d-inline me-2" type="button">
                <span class="fa fa-remove"></span>
            </button>
        </div> 
        <div class="d-inline" *ngIf="masterListNotEmpty()" (click) = showAddFilter()>+ filter</div>   
    </div>
    <div *ngIf="masterListIsEmpty()" (click) = showAddFilter()>+ filter</div>
</div>





<!--VERTICLE MASTER FILTERS-->
<div *ngIf="showMasterFilterSelectList" class="position-absolute w-100 row">    
    <div class="col-3" style="border:1px solid #cccccc; padding:15px;">
        <div class="row">
            <div class="col-10">
                <ul class="list-group">  
                    <div *ngFor='let filter of masterFilterList'>
                        <li class="list-group-item" *ngIf="filterNotSelected(filter)">
                            <span [innerText] = "filter.title" (click) = "showFilterEditor(filter)"></span>
                        </li>
                    </div> 
                </ul>
            </div>
            <div class="col-2 float-end">
                <button (click) = "hideAddFilter()" class="float-end"><i class="fa fa-remove"></i></button>
            </div>
        </div>
    </div>    
</div>






<!--FILTER EDITOR-->
<div *ngIf="FilterEditMode" class="position-absolute w-100 row"> 
    <div class="card col-3">
        <!-- NUMBER-->
        <div class="card-body" *ngIf="filterBeingEdited.type == filterType.number">
            <div class="h6" [innerText] = "filterBeingEdited.title"></div>
            <input type="number"  [(ngModel)] = "filterBeingEditedValues.value1"/>
        </div>
        <!-- STRING -->
        <div class="card-body" *ngIf="filterBeingEdited.type == filterType.string">
            <div class="h6" [innerText] = "filterBeingEdited.title"></div>
            <input type="text"  [(ngModel)] = "filterBeingEditedValues.value1"/>
        </div>
        <!-- DATE-->
        <div class="card-body" *ngIf="filterBeingEdited.type == filterType.date">            
            <div class="h6" [innerText] = "filterBeingEdited.title"></div> 
              <input type="date" [valueAsDate] = "filterBeingEditedValues.value1" (change) = "filterBeingEditedValues.value1 = onDateChange($event,filterBeingEditedValues,1)"/>
        </div>
        <!--DATE RANGE-->
        <div class="card-body" *ngIf="filterBeingEdited.type == filterType.dateRange"> 
            <div class="h6" [innerText] = "filterBeingEdited.title"></div> 
            <!-- <pre>{{filterBeingEditedValues.value1 | json}}</pre>
            <mat-form-field>
                <mat-label>Angular forms</mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="filterBeingEditedValues.value1">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field> -->



            <!-- <ngl-datepicker-input label="middle-endian with dashes" [(value)]="filterBeingEditedValues.value1" format="middle-endian" delimiter="-">
                <input nglDatepickerInput type="text">
            </ngl-datepicker-input>
            <ngl-datepicker-input label="middle-endian with dashes" [(value)]="filterBeingEditedValues.value2" format="middle-endian" delimiter="-">
                <input nglDatepickerInput type="text">
            </ngl-datepicker-input> --> 
            <input type="date" [valueAsDate]="filterBeingEditedValues.value1" (click)="onDateChange($event, filterBeingEditedValues,1)" (change) = "onDateChange($event,filterBeingEditedValues,1)"/>
            <input type="date" [valueAsDate]="filterBeingEditedValues.value2" (click)="onDateChange($event, filterBeingEditedValues,2)" (change) = "onDateChange($event,filterBeingEditedValues,2)"/>          
        
        </div>
        <!-- FILTER BUTTONS -->
        <div class="card-bottom bg-light  ps-4 pe-1 py-2">
            <div class="row">
                <div class=" col-12">
                    <div class="btn-group float-end"> 
                        <button type="button" (click) = "cancelEdit(filterBeingEdited)" class="btn btn-secondary">Cancel</button>
                        <button type="button" (click) = "saveFilterBeingEdited(filterBeingEdited, filterBeingEditedValues)" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>