<div  fxHide.lt-md="true" fxShow.gt-sm="true">
    <header style="background: #38423b; padding-top: 20px; padding-bottom: 20px; color: white">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <h3 style="color: white; font-family: Orbitron; margin-top: 20px;">Credit Reporting Components for Dot.Net</h3>
                <h3 style="color: white; font-size: 18px; font-family: Roboto">
                    Rapidly add Powerful Consumer Credit Reporting Features to Fraud, Collection, Id Verification and Lending Systems
                </h3>
                <h3 style="color: white; font-size: 18px; font-family: Roboto">
                    <a class="nav-link-active" style="color: white; text-decoration: underline;" href="#extensions">NEW! CreditSharp now provides Portfolio Analysis and Comparitive Analysis features in CreditSharp Extension!</a>
                
                </h3>
                <h3 style="color: white; font-size: 18px; font-family: Roboto">
                    Bolt it On!&reg;
                </h3>
            </div>             
            <div class="col-4" >
                <img  class="csResponsive" alt="sample"  style="background-color: white;" src="/assets/images/sampleCode.gif" />
            </div>
            <div class="col-2"></div>
        </div>
    </header>  
</div>


<div fxHide.lt-md="false" fxShow.gt-sm="false" style="background: #38423b; padding-bottom: 30px;">  
    <div class="container">
        <div class="row" style=" color: white">
            <!-- <div class="col-2"></div> -->
            <div class="col-12">
                <h1 style="color: white; font-family: Orbitron; margin-top: 20px;">Credit Reporting Components for Dot.Net</h1>
                <div style="color: white; font-size: 18px; font-family: Roboto">
                    Rapidly add Powerful Consumer Credit Reporting Features to Fraud, Collection, Id Verification and Lending Systems
                </div>
                <div style="color: white; font-size: 18px; font-family: Roboto">
                    <a class="nav-link-active" style="color: white; text-decoration: underline;" href="#extensions">NEW! CreditSharp now provides Portfolio Analysis and Comparitive Analysis features in CreditSharp Extension!</a>
                
                </div>
                <div style="color: white; font-size: 18px; font-family: Roboto">
                    Bolt it On!&reg;
                </div>
            </div>
            <!-- <div class="col-2"></div> -->
        </div>

        <div class="row">
            <!-- <div class="col-2"></div> -->
            <div class="col-12 cs-pull-center">
                <img  alt="sample"  style="background-color: white;" src="/assets/images/sampleCode.gif" />
            </div>
            <!-- <div class="col-2"></div> -->
        </div>  
    </div>
</div>
<div >
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <app-cswfeature></app-cswfeature>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <app-csweval></app-csweval>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <app-cswhero></app-cswhero>
        </div>
        <div class="col-2"></div>
    </div>
</div>


