<div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div *ngIf="show" class="modal" style="display:block; background-color: rgba(0,0,0,0.5);">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Add Product</h5>
                   
                  <app-csasync [async] ="async" ></app-csasync>
                 
                  <button (click) = "closeModal()" type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-4"><div class="lead pt-1 inline-block">Product Name</div></div><div class="col-8"><input class="form-control" type="text" [(ngModel)]="title"></div>
                </div>
                </div>
                <div class="modal-footer">
                  <button (click) = "closeModal()" type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                    Close
                  </button>
                  <button [disabled]="title === ''"  (click) = "saveNewProduct()"type="button" class="btn btn-primary">Save Product</button>
                </div>
              </div>
            </div>






            <!-- Modal content -->
            <!-- <div  style="width: 50vw; height: 50vh; display:block;"> -->
              <!-- <div class="cswmodal-content" >
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                  <button type="button" (click) = "closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>This is a vertically centered modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click) = "closeModal()">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div> -->
            <!-- </div>           -->
          </div>                
        </div>
        <div class="col-4"></div>
    </div>
    
</div>